.item {
    position: relative; 
}
.time {
    position: absolute;
    top: 35px;
    left: 43px;
    font-size: 11px;
}

.btn-hide {
    @extend .time;
    left: 86px;
    cursor: pointer;
}

.is-load {
    margin: 30px auto;
}

